* { /* CSS reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    width: 8rem;
}

/* STYLE FOR UPPER MENU */
ul {
    list-style: none;
}

li {
    line-height: 2rem;
    display: inline-block;
    font-size: .7rem;
    font-weight: 600;
}

a {
    color: #c3c3c3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 .2rem;
}

a:hover {
    color: #ffffff;
    background-color: #c3c3c3;
    border-radius: .4rem;
}
/* END STYLE FOR UPPER MENU */

/* STYLE FOR BANNER SECTION */
.banner {
    /* height: 20rem; */
    margin: 1em 0;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: center;
    border-radius: .6rem;
    }

.banner-layer {
    background-color: rgba(0,0,0,.2);
    border-radius: .6rem;
    width: 100%;
    height: 100%;
}

.banner-content {
    padding: 12rem 45% 2.5rem 2rem;
    color: #ffffff;
}

.banner-content h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.banner-content p {
    font-size: .6rem;
}

/* END STYLE FOR BANNER SECTION */

/* STYLE FOR CONTENT SECTION */
/* Blue rectangle */
.content {
    background-color: #0086ff;
}

/* Lightblue rectangles */
.content-header,
.column {
    background-color: #abcfe7;
}

.content-header h2{ /* Content Title: uses a different font than the rest of the page */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

.content-header h3{ /* Content Subtitle */
    color: #c3c3c3;
    font-size: .7rem;
    font-weight: 400;
}

.column img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: .6rem;
}

.left-column,
.center-column,
.right-column {
    float: left;
    margin: 1rem 0;
    /* height: 15rem; */
}

.left-column,
.right-column {
    width: calc((100% - (50% + 2rem)) / 2); /* or calc(20% - 1rem) */
}

.center-column {
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Clearfix */
.content::after {
    content: "";
    display: table;
    clear: both;
}

/* STYLE FOR FOOTER */
footer {
    margin: .5rem auto;
    text-align: center;
    font-size: .7rem;
}

footer span {
    color: red;
    font-size: .9rem;
}
/* END STYLE FOR FOOTER