* { /* CSS reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    width: 15%;
}

/* STYLE FOR UPPER MENU */
ul {
    list-style: none;
}

li {
    line-height: 2rem;
    display: inline-block;
    font-size: .7rem;
    font-weight: 600;
}

a {
    color: #c3c3c3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 .2rem;
}

a:hover {
    color: #ffffff;
    background-color: #c3c3c3;
    border-radius: .4rem;
}

/* END STYLE FOR UPPER MENU */

/* Gold rectangle */
.header-2 {
    background-color: #e1d67a;
    height: 15rem;
    margin: 1em 0;
}

/* Blue rectangle */
.content {
    background-color: #0086ff;
}

/* Lightblue rectangles */
.content-header, .column {
    background-color: #abcfe7;
}

.content-header {
    height: 3rem;
}

.side-column, .main-column {
    float: left;
    margin: 1rem 0;
    height: 15rem;
}

.side-column {
    width: calc((100% - (60% + 2rem)) / 2); /* or calc(20% - 1rem) */
}

.main-column {
    width: 60%;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Clearfix */
.content::after {
    content: "";
    display: table;
    clear: both;
}

/* Violet rectangle */
footer {
    background-color: #8801fe;
    height: 2rem;
    margin-top: .5rem;
}